/* Core */
html, body {background-color: transparent; height: 100%;}
@supports (width: calc(1px + 1px)) { /* Hack to prevent awesomium using the -webkit-mask-box-image as it impacts Awesomium rendering */
	html.gm13 {-webkit-mask-box-image: url("/assets/darth/mask-4.png") 4;}	
}
body {margin: 0px; font-family: Helvetica; color: #333; display: -webkit-box; -webkit-box-orient: vertical; accent-color: #4096EE;}
a {color: #333; text-decoration: none;}
a:hover {color: #FFF;}
h1 {margin-left: 10px;}
a.textlink {font-weight: bold; cursor: pointer;}
a.textlink:hover {color: #4096EE;}
form {margin-bottom: 0;}


/* Text helpers */
.case {text-transform: lowercase;}
.Case {text-transform: capitalize;}
.CASE {text-transform: uppercase;}


/* Common form elements */
.form_input, .form_btn {box-sizing: border-box; padding: 5px; border: 2px solid #595959; border-radius: 4px; color: black; color-scheme: light;}
.form_input:focus, .form_btn:focus,
.form_input:active, .form_btn:active {outline: none !important; box-shadow: 0 0 0 2px #B8E3FF;}
.form_input:focus-visible, .form_btn:focus-visible {outline: none !important;}

/* Common form elements - Text */
.form_input {background-color: white;}
.form_input:hover {border-color: #333;}
.form_input:focus, .form_input:active {border-color: #4096EE;}

/* Common form elements - Button */
.form_btn {border-color: #4096EE; background-color: #B8E3FF;}
.form_btn:hover {background-color: #4096EE; color: white;}





#searchresults:empty::before {content: "No results"; display: block; margin-bottom: 10px;}


/* Dialog / Alert */
dialog {box-sizing: border-box; padding: 15px; width: 450px; max-width: 100%; border: none; border-radius: 10px; background: white;}
dialog:focus-visible {outline: none;}

dialog::backdrop {background-color: rgba(0,0,0,0.6);}

dialog h3 {margin-top: 0px; color: #4096EE;}
dialog h3:empty {display: none;}
dialog button.form_btn {font-size: 14px; float: right; padding: 6px 12px;}

/* Dialog fallback for GM12/Awesomium */
.no-dialog dialog {display: none;}
.no-dialog dialog[open] {display: inline-block; position: fixed; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); z-index: 500;}
.no-dialog #backdrop {display: none;}
.no-dialog #backdrop[open] {display: block; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.6); z-index: 490;}



/* tooltips */
.tooltip, [tooltip]:hover::before {background-color: #f9eeb5; display: inline-block; width: auto; font-size: 10px; white-space: nowrap; color: #6f6639; font-family: Verdana, Tahoma, sans-serif; font-weight: bold; border: 1px solid #827c5e; border-radius: 3px; padding: 2px 4px; box-shadow: inset 0 0 0 1px #fcf6da;} /* common for inline and hover tooltip */
[tooltip]:hover::before {position: absolute; pointer-events: none; content: attr(tooltip); z-index: 100; } /* hover tooltips */
.tt_topleft[tooltip]:hover::before, .tt_top[tooltip]:hover::before, .tt_topright[tooltip]:hover::before {top: -5px; -webkit-transform: translateY(-100%);} /* top */
.tt_bottomleft[tooltip]:hover::before, .tt_bottom[tooltip]:hover::before, .tt_bottomright[tooltip]:hover::before {bottom: -5px;  -webkit-transform: translateY(100%);} /* bottom */
.tt_top[tooltip]:hover::before {left: 50%; -webkit-transform: translate(-50%, -100%); text-align: center;} /* top-middle */
.tt_bottom[tooltip]:hover::before {left: 50%; -webkit-transform: translate(-50%, 100%); text-align: center;} /* bottom-middle */
.tt_topleft[tooltip]:hover::before, .tt_bottomleft[tooltip]:hover::before {right: 0; text-align: right;} /* left (top/bottom) */
.tt_topright[tooltip]:hover::before, .tt_bottomright[tooltip]:hover::before {left: 0; text-align: left;} /* right (top/bottom) */
.tt_left[tooltip]:hover::before {left: -5px; top: 50%; -webkit-transform: translate(-100%, -50%); text-align: right;}  /* left (center) */
.tt_right[tooltip]:hover::before {right: -5px; top: 50%; -webkit-transform: translate(100%, -50%); text-align: left;} /* right (center) */



.header {width: 100%; display: -webkit-box; overflow: hidden; -webkit-user-select: none;  background-color: #4096EE;}
.header.header_breakout {-webkit-box-flex: 1;} 

#header_primary {}
#header_secondary {-webkit-box-pack: justify; padding-bottom: 2px;}

.clouds {height: 40px; width: 100%; pointer-events: none; -webkit-animation: clouds 0s linear infinite;}
#topclouds {background-image: url("/svg/clouds?fill=B8E3FF"); -webkit-animation-duration: 10s;  background-color: #4096EE;}
#bottomclouds {position: fixed; bottom: 0px; background-image: url("/svg/clouds?fill=FFFFFF"); opacity: 0.25; -webkit-transition: opacity 0.2s 0.1s linear, bottom 0.2s 0.1s linear; z-index: 200; -webkit-animation-duration: 5s;}

.navbar a {width: 64px; height: 50px; float: left; overflow: hidden; font-size: 11px; text-align: center; margin-top: 10px; margin-left: 4px; font-weight: bolder; text-decoration: none; white-space: nowrap; text-overflow: ellipsis;}
.navbar .navicon {width: 32px; height: 32px; display: inline-block; background-size: cover; background-repeat: no-repeat; background-position: left;}
.navbar a:hover .navicon, .navbar a.active .navicon {background-position: right;}
.navbar .disabled {opacity: 0.25; pointer-events: none;}

.subbar {margin-left: 12px;}
.subbar a {float: left; font-size: 16px; margin-right: 12px; margin-top: 4px; margin-bottom: 4px; font-weight: bolder; text-decoration: none; height: 16px;}
.subbar .navicon {width: 16px; height: 16px; display: inline-block; background-size: cover; background-repeat: no-repeat; background-position: left; margin-right:4px;}
.subbar a:hover .navicon, .subbar a.active .navicon {background-position: right;}
.subbar span:not(.navicon) {vertical-align: top;}
.subbar .disabled {opacity: 0.25; pointer-events: none;}

#home .navicon {background-image: url('/assets/rustmb/combined/cloudbox.png');}
#mine .navicon {background-image: url('/assets/rustmb/combined/mine.png');}
#entity .navicon {background-image: url('/assets/rustmb/combined/entity.png');}
#weapon .navicon {background-image: url('/assets/rustmb/combined/weapon.png');}
#prop .navicon {background-image: url('/assets/rustmb/combined/prop.png');}
#savemap .navicon {background-image: url('/assets/rustmb/combined/savemap.png');}
#map .navicon {background-image: url('/assets/rustmb/combined/map.png');}

#prev .navicon {background-image: url('/assets/rustmb/combined/leftarrow.png')}
#next .navicon {background-image: url('/assets/rustmb/combined/rightarrow.png')}
#reroll .navicon {background-image: url('/assets/rustmb/combined/reroll.png')}

#cloudbox .navicon {background-image: url('/assets/rustmb/combined/cloudbox.png');}
#pgFeatured .navicon {background-image: url('/assets/rustmb/combined/featured.png');}
#pgNews .navicon {background-image: url('/assets/rustmb/combined/news.png');}
#pgInfo .navicon {background-image: url('/assets/rustmb/combined/info.png');}

#newest .navicon {background-image: url('/assets/rustmb/combined/newest.png');}
#random .navicon {background-image: url('/assets/rustmb/combined/random.png');}
#popular .navicon {background-image: url('/assets/rustmb/combined/popular.png');}

#uploadsave .navicon {background-image: url('/assets/rustmb/combined/uploadsave.png');}
#cleanup .navicon {background-image: url('/assets/rustmb/combined/cleanup.png');}

#settings {cursor: pointer;}
#settings .navicon {background-image: url('/assets/rustmb/combined/gear.png');}

#togglemode {cursor: pointer; position: absolute; margin: 0; border-radius: 100%; width: 48px; height: 48px; right: 4px; }
#togglemode .navicon {background-image: url("/assets/rustmb/combined/sunmoon.png"); width: 100%; height: 100%;}
#togglemode:hover .navicon {background-position: right;}




.search {padding: 16px; padding-bottom: 0px; position: relative;}
.search #searchbox {width: 100%; font-size: 13px; line-height: 1.2em; -webkit-transition: border 0.01s linear, box-shadow 0.01s linear;}
.search #searchbox:focus {}
.search button {display: none;}
.show-searchbtn .search button {-webkit-appearance: none; border: none; padding: 0; margin: 0; outline: 0; display: inline-block; background-color: transparent; background-size: cover; background-repeat: no-repeat; background-position: left; background-image: url("/assets/rustmb/combined/find.png"); cursor: pointer; width: 24px; height: 24px; position: absolute; top: 19px; right: 19px;}
.show-searchbtn .search button:hover {background-position: right;}



.savetools {padding: 16px 8px;}
.savetools a {margin: 8px; font-weight: bolder;}

.content {padding: 16px 8px; overflow-y: auto; background-color: #B8E3FF; -webkit-box-flex: 1; padding-bottom: 160px; scrollbar-color: #4096EE white;}

.pillbox {background: white; -webkit-border-radius: 10px; border-radius: 10px; padding: 5px 10px; overflow: hidden; margin-left: auto; margin-right: auto; width: 92%; box-sizing: border-box;}
.pillbox:not(:last-child) {margin-bottom: 6px;}
.pillbox.thin {display: inline-block; margin-left: 4%; width: auto; max-width: 92%;}

.pillbox h2, .pillbox h3, .pillbox h4 {color: #4096EE; margin: 0; margin-bottom: 6px; margin-top: 3px;}
.pillbox sub {font-style: italic; margin-left: 10px; color: #333; font-weight: normal; vertical-align: baseline;}
.pillbox div.newsformat {margin: 13px 0px; margin-bottom: 6px; font-size: 13px; white-space: pre-line;}

a.morelink {width: 16px; height: 16px; display: inline-block; margin-left: 2px; vertical-align: sub; background-size: cover; background-position: right; background-repeat: no-repeat; background-image: url("/assets/rustmb/combined/link.png");}
a.morelink:hover {background-position: left;}
a.morelink.large {width: 22px; height: 22px;}


a.textlink .linkicon {background-size: cover; background-position: left; background-repeat: no-repeat; display: inline-block; width: 1em; height: 1em; vertical-align: text-top; margin-right: 3px;}
a.textlink:hover .linkicon {background-position: right;}

.newsitem:not(:last-child) {border-bottom: 1px solid #B8E3FF;}


.thumb {width: 100%; height: 100%; border: 2px solid #595959; border-radius: 4px; background-position: center; background-image: url("/assets/rustmb/missing.svg");}
.thumb .thumb_real {width: 100%; height: 100%; background-position: center; background-size: cover;}


.item {width: 132px; height: 125px; display: inline-block; cursor: pointer;}
.item .thumb {width: 128px; height: 100px; margin-bottom: 1px; position: relative;}
.item:hover .thumb {border-color: #4096EE;}
.item .name {font-size: 11px; font-weight: bolder; text-align: center; white-space: nowrap; letter-spacing: -0.1px; text-overflow: ellipsis; overflow: hidden;}
.item:hover .name {color: #4096EE;}

.item .favtoggle {display: none; width: 28px; height: 28px; bottom: 0; right: 0; background-image: url("/assets/rustmb/combined/fav.png"); position: absolute; background-size: cover; background-position: left;}
.item:hover .favtoggle, .item.isfav .favtoggle {display: inline-block;}
.item .favtoggle:hover {background-position: center;}
.item.isfav .favtoggle:hover {background-position: right;}

.item .favtoggle:hover::before {content: "Add to Favs";}
.item.isfav .favtoggle:hover::before {content: "Remove from Favs";}



.item .metabox-template {display: none;}

.metabox {position: fixed; background: rgba(255, 255, 255, 0.9); bottom: 0; left: 0; right: 0; height: 120px; opacity: 1; pointer-events: none; -webkit-transition: opacity 0.2s linear, bottom 0.2s linear; z-index: 201;}
.metabox:not(.active)  {opacity: 0.25; bottom: -120px; height: 120px; -webkit-transition-delay: 0.1s;}
.metabox.active + #bottomclouds {bottom: 120px; opacity: 0.9; -webkit-transition-delay: 0s;}

.metabox-target {margin-left: 10px; margin-right: 10px; margin-top: -10px; -webkit-transition: margin 0.2s 0s linear; display: -webkit-box; -webkit-box-orient: horizontal; height: 125px;}
.metabox:not(.active) .metabox-target {margin-top: 0px; -webkit-transition-delay: 0.1s;}


.metabox .meta-col {margin-left:5px; margin-right:5px; overflow: hidden; box-sizing: border-box; font-weight: bolder;}

.metabox .thumb {width: 125px;}

.metabox .meta-info {width: 300px; display: -webkit-box; -webkit-box-orient: vertical; font-size: 13px;}
.metabox .meta-info .meta-row {width: 100%;}
.metabox .meta-info .meta-name {font-weight: bold; font-size: 18px; overflow: hidden; -webkit-box-flex: 1;}


.color-likes {color: #004B49;}
.color-dislikes {color: #990036;}
.color-dls {color: #1C20D9;}
.color-favs {color: #B65600;}

.metabox .meta-info .meta-stats {padding-bottom: 4px;}
.metabox .meta-info .meta-stats div {display: inline-block;}
.metabox .meta-info .meta-stats div:not(:last-child) {margin-right: 12px;}
.metabox .meta-info .meta-stats div img {height: 16px; vertical-align: bottom; margin-right: 4px;}

.metabox .meta-info .meta-user {}
.metabox .meta-info .meta-user img {width: 48px; height: 48px; float: left; margin-right: 8px; }
.metabox .meta-info .meta-user > div {line-height: 24px; }

.metabox .meta-desc {background: rgba(184, 227, 255, 0.6); padding: 10px; font-size: 15px; border-radius: 8px; -webkit-box-flex: 1; white-space: pre-line;}
.metabox .meta-desc:empty::before {content: "No description available"; font-weight: normal; font-style: italic; opacity: 0.5;}
.metabox .meta-desc.wrap {white-space: normal;}
.metabox .meta-desc[data-scale="1"] {font-size: 14.5px;}
.metabox .meta-desc[data-scale="2"] {font-size: 14px;}
.metabox .meta-desc[data-scale="3"] {font-size: 13.5px;}
.metabox .meta-desc[data-scale="4"] {font-size: 13px;}
.metabox .meta-desc[data-scale="5"] {font-size: 12.5px;}
.metabox .meta-desc[data-scale="6"] {font-size: 12px;}
.metabox .meta-desc[data-scale="7"] {font-size: 11.5px;}
.metabox .meta-desc[data-scale="8"] {font-size: 11px;}
.metabox .meta-desc[data-scale="9"] {font-size: 10.5px;}
.metabox .meta-desc[data-scale="10"] {font-size: 10px;}
.metabox .meta-desc[data-scale="11"] {font-size: 9.5px;}
.metabox .meta-desc[data-scale="12"] {font-size: 9px;}
.metabox .meta-desc[data-scale="13"] {font-size: 8.5px;}
.metabox .meta-desc[data-scale="14"] {font-size: 8px;}


.saveform {padding: 16px 8px;}
.saveform label {display: block;}

.saveform input {border: 2px solid; border-color: #595959; border-radius: 4px;}




@-webkit-keyframes clouds {0% {background-position: 318px;} 100% {background-position: 0px;}}

::-webkit-scrollbar {background-color: #4096EE; border-radius: 4px;}
::-webkit-scrollbar-button, ::-webkit-scrollbar-thumb {background-color: white; border: 2px solid #595959;}
::-webkit-scrollbar-button:hover, ::-webkit-scrollbar-thumb:hover {background-color: #B8E3FF;}
::-webkit-scrollbar-button:active, ::-webkit-scrollbar-thumb:active {border-color: #4096EE;}
::-webkit-scrollbar-button:decrement {border-radius: 4px 4px 0px 0px; background-position: 3px 4px; background-repeat: no-repeat; background-image: url('/assets/darth/scrollup.gif');}
::-webkit-scrollbar-button:decrement:active {background-image: url('/assets/darth/scrollup_active.gif')}
::-webkit-scrollbar-button:increment {border-radius: 0px 0px 4px 4px; background-position: 3px 5px; background-repeat: no-repeat; background-image: url('/assets/darth/scrolldown.gif');}
::-webkit-scrollbar-button:increment:active {background-image: url('/assets/darth/scrolldown_active.gif')}

#scrolldemo_outer1 {background-color: white;}
#scrolldemo_outer2 {background-color: #B8E3FF;}


@media (max-width: 859px) {
	
	.content {padding-left: 2px; padding-right: 2px;}
	
	.metabox-target {margin-left: 0px; margin-right: 0px;}
	
	.pillbox {width: 99%;}
	
}

@media (max-width: 775px) {
	
	.header {display: block;}
	
	.header.header_breakout {display: -webkit-box;}
	
	.header .search {padding-left: 8px; padding-right: 8px; padding-top: 8px; padding-bottom: 16px;}
	.header .search:not(:last-child) {padding-right: 0px;}
	
	.header .search button {top: 11px; right: 11px;}
	.header .search:not(:last-child) button {right: 3px;}
	
	.header .search + .navbar a {margin-top: 4px;}
}

@media (max-width: 499px) {
	.header .navbar:first-child {zoom: 0.85;}
	
	.header .search {padding-bottom: 6px;}
	
	.header .search + .navbar {zoom: 0.8;}
	
	.header .subbar a:not(#togglemode) {zoom: 0.85;}
}