html, body {background-color: #4096EE;}
html {height: 100%;}
body {height: 100%; margin: 0px; font-family: Helvetica; color: #333; display: -webkit-box; -webkit-box-orient: vertical; accent-color: #4096ee;}
a {color: #333; text-decoration: none;}
a:hover {color: #FFF;}
h1 {margin-left: 10px;}
a.textlink {font-weight: bold; cursor: pointer;}
a.textlink:hover {color: #4096EE;}
form {margin-bottom: 0;}

.tooltip, .hastooltip:hover::before {background-color: #f9eeb5; display: inline-block; width: auto; font-size: 10px; white-space: nowrap; color: #6f6639; font-family: Verdana, Tahoma, sans-serif; font-weight: bold; border: 1px solid #827c5e; border-radius: 3px; padding: 2px 4px; box-shadow: inset 0 0 0 1px #fcf6da;}
.hastooltip:hover::before {position: absolute; pointer-events: none;}

.header {width: 100%; display: -webkit-box; overflow: hidden; -webkit-user-select: none;}

#header_primary {}
#header_secondary {-webkit-box-pack: justify; padding-bottom: 2px;}

.clouds {height: 40px; width: 100%; pointer-events: none; -webkit-animation: clouds 0s linear infinite;}
#topclouds {background-image: url("/svg/clouds?fill=B8E3FF"); -webkit-animation-duration: 10s;}
#bottomclouds {position: fixed; bottom: 0px; background-image: url("/svg/clouds?fill=FFFFFF"); opacity: 0.25; -webkit-transition: opacity 0.2s 0.1s linear, bottom 0.2s 0.1s linear; z-index: 9; -webkit-animation-duration: 5s;}

.navbar a {width: 64px; height: 50px; float: left; overflow: hidden; font-size: 11px; text-align: center; margin-top: 10px; margin-left: 4px; font-weight: bolder; text-decoration: none; }
.navbar .navicon {width: 32px; height: 32px; display: inline-block; background-size: cover; background-repeat: no-repeat; background-position: left;}
.navbar a:hover .navicon, .navbar a.active .navicon {background-position: right;}
.navbar .disabled {opacity: 0.25; pointer-events: none;}

.subbar {margin-left: 12px;}
.subbar a {float: left; font-size: 16px; margin-right: 12px; margin-top: 4px; margin-bottom: 4px; font-weight: bolder; text-decoration: none; height: 16px;}
.subbar .navicon {width: 16px; height: 16px; display: inline-block; background-size: cover; background-repeat: no-repeat; background-position: left; margin-right:4px;}
.subbar a:hover .navicon, .subbar a.active .navicon {background-position: right;}
.subbar span:not(.navicon) {vertical-align: top;}
.subbar .disabled {opacity: 0.25; pointer-events: none;}

#home .navicon {background-image: url('/assets/rustmb/combined/cloudbox.png');}
#mine .navicon {background-image: url('/assets/rustmb/combined/mine.png');}
#entity .navicon {background-image: url('/assets/rustmb/combined/entity.png');}
#weapon .navicon {background-image: url('/assets/rustmb/combined/weapon.png');}
#prop .navicon {background-image: url('/assets/rustmb/combined/prop.png');}
#savemap .navicon {background-image: url('/assets/rustmb/combined/savemap.png');}
#map .navicon {background-image: url('/assets/rustmb/combined/map.png');}

#prev .navicon {background-image: url('/assets/rustmb/combined/leftarrow.png')}
#next .navicon {background-image: url('/assets/rustmb/combined/rightarrow.png')}
#reroll .navicon {background-image: url('/assets/rustmb/combined/reroll.png')}

#cloudbox .navicon {background-image: url('/assets/rustmb/combined/cloudbox.png');}
#pgFeatured .navicon {background-image: url('/assets/rustmb/combined/featured.png');}
#pgNews .navicon {background-image: url('/assets/rustmb/combined/news.png');}
#pgInfo .navicon {background-image: url('/assets/rustmb/combined/info.png');}

#newest .navicon {background-image: url('/assets/rustmb/combined/newest.png');}
#random .navicon {background-image: url('/assets/rustmb/combined/random.png');}
#popular .navicon {background-image: url('/assets/rustmb/combined/popular.png');}

#uploadsave .navicon {background-image: url('/assets/rustmb/combined/uploadsave.png');}
#cleanup .navicon {background-image: url('/assets/rustmb/combined/cleanup.png');}

#settings {cursor: pointer;}
#settings .navicon {background-image: url('/assets/rustmb/combined/gear.png');}

#togglemode {cursor: pointer; position: absolute; margin: 0; border-radius: 100%; width: 48px; height: 48px; right: 4px; }
#togglemode .navicon {background-image: url("/assets/rustmb/combined/sunmoon.png"); width: 100%; height: 100%;}
#togglemode:hover .navicon {background-position: right;}

#togglemode:hover::before {content: "Toggle Light/Dark Mode"; right: 48px; bottom: 24px; -webkit-transform: translate(0,50%);}

.search {padding: 16px; padding-bottom: 0px;}
.search #searchbox {width: 100%; padding: 5px; border: 2px solid; border-color: #595959; border-radius: 4px; box-sizing: border-box;}



.savetools {padding: 16px 8px;}
.savetools a {margin: 8px; font-weight: bolder;}

.content {padding: 16px 8px; overflow-y: auto; background-color: #B8E3FF; -webkit-box-flex: 1; padding-bottom: 160px; scrollbar-color: #4096EE white;}

.pillbox {background: white; -webkit-border-radius: 10px; border-radius: 10px; padding: 5px 10px; overflow: hidden; margin-left: auto; margin-right: auto; width: 92%; box-sizing: border-box;}
.pillbox:not(:last-child) {margin-bottom: 6px;}
.pillbox.thin {display: inline-block; margin-left: 4%; width: auto; max-width: 92%;}

.pillbox h2, .pillbox h3, .pillbox h4 {color: #4096EE; margin: 0; margin-bottom: 6px; margin-top: 3px;}
.pillbox sub {font-style: italic; margin-left: 10px; color: #333; font-weight: normal; vertical-align: baseline;}
.pillbox div.newsformat {margin: 13px 0px; margin-bottom: 6px; font-size: 13px; white-space: pre-line;}

a.morelink {width: 16px; height: 16px; display: inline-block; margin-left: 2px; vertical-align: sub; background-size: cover; background-position: right; background-repeat: no-repeat; background-image: url("/assets/rustmb/combined/link.png");}
a.morelink:hover {background-position: left;}
a.morelink.large {width: 22px; height: 22px;}

#inline-options span {background-size: cover; background-position: left; background-repeat: no-repeat; background-image: url('/assets/rustmb/combined/gear.png'); display: inline-block; width: 16px; height: 16px; vertical-align: text-top; margin-right: 3px;}
#inline-options:hover span {background-position: right;}

.newsitem:not(:last-child) {border-bottom: 1px solid #B8E3FF;}


.thumb {width: 100%; height: 100%; border: 2px solid #595959; border-radius: 4px; background-position: center; background-image: url("/assets/rustmb/missing.svg");}
.thumb .thumb_real {width: 100%; height: 100%; background-position: center; background-size: cover;}


.item {width: 132px; height: 125px; display: inline-block; cursor: pointer;}
.item .thumb {width: 128px; height: 100px; margin-bottom: 1px; position: relative;}
.item:hover .thumb {border-color: #4096EE;}
.item .name {font-size: 11px; font-weight: bolder; text-align: center; white-space: nowrap; letter-spacing: -0.1px; text-overflow: ellipsis; overflow: hidden;}
.item:hover .name {color: #4096EE;}

.item .favtoggle {display: none; width: 28px; height: 28px; bottom: 0; right: 0; background-image: url("/assets/rustmb/combined/fav.png"); position: absolute; background-size: cover; background-position: left;}
.item:hover .favtoggle, .item.isfav .favtoggle {display: inline-block;}
.item .favtoggle:hover {background-position: center;}
.item.isfav .favtoggle:hover {background-position: right;}

.item .favtoggle:hover::before {content: "Add to Favs"; right: 0; bottom: 28px;}
.item.isfav .favtoggle:hover::before {content: "Remove from Favs";}



.item .metabox-template {display: none;}

.metabox {position: fixed; background: rgba(255, 255, 255, 0.9); bottom: 0; left: 0; right: 0; height: 120px; opacity: 1; pointer-events: none; -webkit-transition: opacity 0.2s linear, bottom 0.2s linear; z-index: 10;}
.metabox:not(.active)  {opacity: 0.25; bottom: -120px; height: 120px; -webkit-transition-delay: 0.1s;}
.metabox.active + #bottomclouds {bottom: 120px; opacity: 0.9; -webkit-transition-delay: 0s;}

.metabox-target {margin-left: 10px; margin-right: 10px; margin-top: -10px; -webkit-transition: margin 0.2s 0s linear; display: -webkit-box; -webkit-box-orient: horizontal; height: 125px;}
.metabox:not(.active) .metabox-target {margin-top: 0px; -webkit-transition-delay: 0.1s;}


.metabox .meta-col {margin-left:5px; margin-right:5px; overflow: hidden; box-sizing: border-box; font-weight: bolder;}

.metabox .thumb {width: 125px;}

.metabox .meta-info {width: 300px; display: -webkit-box; -webkit-box-orient: vertical; font-size: 13px;}
.metabox .meta-info .meta-row {width: 100%;}
.metabox .meta-info .meta-name {font-weight: bold; font-size: 18px; overflow: hidden; -webkit-box-flex: 1;}


.color-likes {color: #004B49;}
.color-dislikes {color: #990036;}
.color-dls {color: #1C20D9;}
.color-favs {color: #B65600;}

.metabox .meta-info .meta-stats {padding-bottom: 4px;}
.metabox .meta-info .meta-stats div {display: inline-block;}
.metabox .meta-info .meta-stats div:not(:last-child) {margin-right: 12px;}
.metabox .meta-info .meta-stats div img {height: 16px; vertical-align: bottom; margin-right: 4px;}

.metabox .meta-info .meta-user {}
.metabox .meta-info .meta-user img {width: 48px; height: 48px; float: left; margin-right: 8px; }
.metabox .meta-info .meta-user > div {line-height: 24px; }

.metabox .meta-desc {background: rgba(184, 227, 255, 0.6); padding: 10px; font-size: 15px; border-radius: 8px; -webkit-box-flex: 1; white-space: collapse; margin-right: 15px;}

.saveform {padding: 16px 8px;}
.saveform label {display: block;}

.saveform input {border: 2px solid; border-color: #595959; border-radius: 4px;}




@-webkit-keyframes clouds {0% {background-position: 318px;} 100% {background-position: 0px;}}

::-webkit-scrollbar {background-color: #4096EE; border-radius: 4px;}
::-webkit-scrollbar-button, ::-webkit-scrollbar-thumb {background-color: white; border: 2px solid #595959;}
::-webkit-scrollbar-button:hover, ::-webkit-scrollbar-thumb:hover {background-color: #B8E3FF;}
::-webkit-scrollbar-button:active, ::-webkit-scrollbar-thumb:active {border-color: #4096EE;}
::-webkit-scrollbar-button:decrement {border-radius: 4px 4px 0px 0px; background-position: 3px 4px; background-repeat: no-repeat; background-image: url('/assets/darth/scrollup.gif');}
::-webkit-scrollbar-button:decrement:active {background-image: url('/assets/darth/scrollup_active.gif')}
::-webkit-scrollbar-button:increment {border-radius: 0px 0px 4px 4px; background-position: 3px 5px; background-repeat: no-repeat; background-image: url('/assets/darth/scrolldown.gif');}
::-webkit-scrollbar-button:increment:active {background-image: url('/assets/darth/scrolldown_active.gif')}



@media (max-width: 859px) {
	
	.content {padding-left: 2px; padding-right: 2px;}
	
	.metabox-target {margin-left: 0px; margin-right: 0px;}
	
	.pillbox {width: 99%;}
	
}

@media (max-width: 699px) {
	
	.header {display: block;}
	
	.header .navbar:first-child {overflow: auto; zoom: 0.85;}
	.header .search {box-sizing: border-box; padding-top: 4px; padding-bottom: 4px; padding-left: 4px; padding-right: 102px; margin-right: -106px; display: inline-block;}
	.header .search.search_sortrandom {padding-right: 52px; margin-right: -56px;}
	.header .search + .navbar {overflow: auto; float: right; zoom: 0.8; position: relative;}
	.header .search + .navbar a {margin-top: 0px; margin-left: 0px;}
	
	#header_secondary {padding-top: 4px;}
	
	.header .subbar {display: inline-block; margin-left: 4px;}
	.header .subbar a:not(#togglemode) {zoom: 0.85;}
	.header .subbar + .subbar {float: right;}
}