html, body {background-color: transparent;}
body {height: 100%; margin: 0px; font-family: Helvetica; color: #333; display: -webkit-box; -webkit-box-orient: vertical;}
a {color: #333; text-decoration: none;}
a:hover {color: #FFF;}
h1 {margin-left: 10px;}
a.textlink {font-weight:bold;}
a.textlink:hover {color: #4096ee;}
form {margin-bottom: 0px}

.header {width: 100%; background-color: #4096ee; display: -webkit-box; overflow: hidden;}

.navbar a {width: 64px; height: 50px; float: left; overflow: hidden; font-size: 11px; text-align: center; margin-top: 10px; margin-left: 4px; font-weight: bolder; text-decoration: none; }
.navbar .navicon {width: 32px; height: 32px; margin-bottom: 2px; display: inline-block; background-size: cover; background-repeat: no-repeat; background-position: 0px 0px;}
.navbar a:hover .navicon, .navbar a.active .navicon {background-position:-32px 0px;}
.navbar .disabled {opacity: 0.25; pointer-events: none;}

.subbar {margin-left: 12px;}
.subbar a {float: left; font-size: 16px; margin-right: 12px; margin-top: 4px; margin-bottom: 4px; font-weight: bolder; text-decoration: none; height: 16px;}
.subbar .navicon {width: 16px; height: 16px; display: inline-block; background-size: cover; background-repeat: no-repeat; background-position: 0px 0px; margin-right:4px;}
.subbar a:hover .navicon, .subbar a.active .navicon {background-position:-16px 0px;}
.subbar span:not(.navicon) {vertical-align:top;}
.subbar .disabled {opacity: 0.25; pointer-events: none;}

#home .navicon {background-image: url('/assets/rustmb/combined/cloudbox.png');}
#mine .navicon {background-image: url('/assets/rustmb/combined/mine.png');}
#entity .navicon {background-image: url('/assets/rustmb/combined/entity.png');}
#weapon .navicon {background-image: url('/assets/rustmb/combined/weapon.png');}
#prop .navicon {background-image: url('/assets/rustmb/combined/prop.png');}
#savemap .navicon {background-image: url('/assets/rustmb/combined/savemap.png');}
#map .navicon {background-image: url('/assets/rustmb/combined/map.png');}

#prev .navicon {background-image: url('/assets/rustmb/combined/leftarrow.png')}
#next .navicon {background-image: url('/assets/rustmb/combined/rightarrow.png')}
#reroll .navicon {background-image: url('/assets/rustmb/combined/reroll.png')}

#cloudbox .navicon {background-image: url('/assets/rustmb/combined/cloudbox.png');}
#pgFeatured .navicon {background-image: url('/assets/rustmb/combined/featured.png');}
#pgNews .navicon {background-image: url('/assets/rustmb/combined/news.png');}
#pgInfo .navicon {background-image: url('/assets/rustmb/combined/info.png');}

#newest .navicon {background-image: url('/assets/rustmb/combined/newest.png')}
#random .navicon {background-image: url('/assets/rustmb/combined/random.png')}
#mostfavs .navicon {background-image: url('/assets/rustmb/combined/mostfavs.png')}
#mostlikes .navicon {background-image: url('/assets/rustmb/combined/mostlikes.png')}
#mostdls .navicon {background-image: url('/assets/rustmb/combined/mostdls.png')}

#uploadsave .navicon {background-image: url('/assets/rustmb/combined/uploadsave.png')}
#cleanup .navicon {background-image: url('/assets/rustmb/combined/cleanup.png')}

.search {padding: 16px; padding-bottom: 0px;}
.search #searchbox {width: 100%; padding: 5px; border: 2px solid; border-color: #595959; border-radius: 4px;}

.topclouds {height: 40px; background-image: url('/assets/rustmb/clouds.svg'); background-color: #4096EE;}

.savetools {padding: 16px 8px;}
.savetools a {margin: 8px; font-weight: bolder;}

.content {padding: 16px 8px; overflow-y: auto; background-color: #B8E3FF; -webkit-box-flex: 1; padding-bottom: 160px; scrollbar-color: #4096ee white;}

.pillbox {background: white; -webkit-border-radius: 8px; border-radius: 8px; padding: 5px 10px; overflow: hidden; margin-left: auto; margin-right: auto; width: 92%; box-sizing: border-box;}
.pillbox:not(:last-child) {margin-bottom: 6px;}
.pillbox.thin {display: inline-block; margin-left: 4%; width: auto; max-width: 92%;}

.pillbox h2, .pillbox h3, .pillbox h4 {color: #4096ee; margin: 0; margin-bottom: 6px; margin-top: 3px;}
.pillbox sub {font-style: italic; margin-left: 10px; color:#333; font-weight:normal; vertical-align:baseline;}
.pillbox div.newsformat {margin: 13px 0px; margin-bottom: 6px; font-size: 13px; white-space: pre-line;}

a.morelink {width:16px; height:16px; display:inline-block; margin-left:2px; vertical-align:sub; background-size:cover; background-position:0px 0px; background-repeat:no-repeat; background-image:url("/assets/rustmb/combined/link.png");}
a.morelink:hover {background-position:-16px 0px;}
a.morelink.large {width:22px; height:22px;}
a.morelink.large:hover {background-position:-22px 0px;}


#morenews > div:not(:last-child) {border-bottom: 1px solid #b8e3ff;}


.item {width: 128px; height: 125px; margin-left: 2px; margin-right: 2px; display: inline-block; cursor: pointer;}
.item .thumb {width: 128px; height: 100px; border: 2px solid; border-color: #595959; border-radius: 4px; margin-bottom: 1px; background-position: center;}
.item:hover .thumb {border-color: #4096EE}
.item .name {font-size: 11px; font-weight: bolder; text-align: center; white-space: nowrap; letter-spacing: -0.1px; text-overflow: ellipsis; overflow: hidden;}
.item:hover .name {color: #4096EE;}

.item .info {position: fixed; background: rgba(255, 255, 255, 0.9); bottom: 0; left: 0; right: 0; height: 120px; opacity: 1; pointer-events: none; transition: opacity 0.2s linear, bottom 0.2s linear; -webkit-transition: opacity 0.2s linear, bottom 0.2s linear; z-index: 10;}
.item:not(:hover) .info {opacity: 0; bottom: -120px;}
.item .info .clouds {content: " "; height: 40px; background: url('/assets/rustmb/cloudswhite.svg') transparent; width: 100%; position: relative; top: -40px; left: 0px; right: 0px; margin-bottom:-40px; opacity: 0.9; animation: swoosh 7.5s linear infinite; -webkit-animation: swoosh 10s linear infinite;}
.item:not(:hover) .info .clouds {animation-play-state:paused; -webkit-animation-play-state: paused;}

.metabox {margin-left: 10px; margin-right: 10px;}
.metabox-left, .metabox-right {height: 125px;}
.metabox-left {width: 450px; float: left;}
.metabox-right {margin-left: 450px; margin-right: 20px;}

.metabox .meta-thumb, .metabox .meta-info, .metabox .meta-desc {display: inline-block; height:125px; margin-top:-10px; position: relative; margin-left:5px; margin-right:5px; overflow: hidden; text-align: left; -webkit-box-sizing: border-box; box-sizing: border-box; vertical-align: top; font-weight: bolder;}

.metabox .meta-thumb {width: 125px;}
.metabox .meta-thumb .img {width:125px; height:125px; border-radius:3px; border:2px solid #595959; -webkit-box-sizing: border-box; box-sizing: border-box; background-size: contain; background-position: center;}

.metabox .meta-info {width :300px;}
.metabox .meta-info .meta-name {font-weight: bold; font-size:18px; margin-bottom: 73px; max-height: 52px; overflow: hidden;}

.metabox .meta-info .meta-stats {height: 20px; position: absolute; bottom: 48px; width: 100%; font-size: 13px;}
.metabox .meta-info .meta-stats div {display: inline-block;}
.metabox .meta-info .meta-stats div:not(:last-child) {margin-right: 12px;}
.metabox .meta-info .meta-stats div img {height: 16px; vertical-align: bottom; margin-right: 4px;}

.metabox .meta-info .meta-user {height: 48px; position: absolute; bottom: 0; width: 100%;}
.metabox .meta-info .meta-user img {width: 48px; height: 48px; float: left;}
.metabox .meta-info .meta-user .meta-uploaded, .metabox .meta-info .meta-user .meta-username {font-size: 13px; margin-left: 48px; padding-left: 8px; line-height: 24px;}

.metabox .meta-desc {background: rgba(184, 227, 255, 0.6); padding: 10px; font-size: 15px; border-radius: 8px; width: 100%; white-space: collapse;}

.saveform {padding: 16px 8px;}
.saveform label {display: block;}

.saveform input {border: 2px solid; border-color: #595959; border-radius: 4px;}

.bottomclouds {width: 100%; height: 40px; position: fixed; bottom: 0px; background-image: url('/assets/rustmb/cloudswhite.svg'); opacity: 0.25; pointer-events: none;}

.topclouds {animation: swoosh 10s linear infinite; -webkit-animation: swoosh 10s linear infinite;}
.bottomclouds {animation: swoosh 5s linear infinite; -webkit-animation: swoosh 5s linear infinite;}
@keyframes swoosh {0% {background-position: 318px;} 100% {background-position: 0px;}}
@-webkit-keyframes swoosh {0% {background-position: 318px;} 100% {background-position: 0px;}}

::-webkit-scrollbar {background-color: #4096EE; border-radius: 4px;}
::-webkit-scrollbar-button, ::-webkit-scrollbar-thumb {background-color: white; border: 2px solid #595959;}
::-webkit-scrollbar-button:hover, ::-webkit-scrollbar-thumb:hover {background-color: #B8E3FF;}
::-webkit-scrollbar-button:active, ::-webkit-scrollbar-thumb:active {border-color: #4096EE;}
::-webkit-scrollbar-button:decrement {border-radius: 4px 4px 0px 0px; background-position: 3px 4px; background-repeat: no-repeat; background-image: url('/assets/darth/scrollup.gif');}
::-webkit-scrollbar-button:decrement:active {background-image: url('/assets/darth/scrollup_active.gif')}
::-webkit-scrollbar-button:increment {border-radius: 0px 0px 4px 4px; background-position: 3px 5px; background-repeat: no-repeat; background-image: url('/assets/darth/scrolldown.gif');}
::-webkit-scrollbar-button:increment:active {background-image: url('/assets/darth/scrolldown_active.gif')}
