body {color: #DCDEDF;}
a {color: #DCDEDF;}
a:hover {color: #1A9FFF;}
a.textlink:hover {color: #1A9FFF;}

.header {background-color: #0B1043;}

#topclouds {background-image: url("/svg/clouds?fill=102256"); background-color: #0B1043;}
#bottomclouds {background-image: url("/svg/clouds?fill=183A65");}


#togglemode .navicon {background-position: right;}
#togglemode:hover .navicon {background-position: left;}

.search #searchbox {border-color: #969696; background-color: black; color: white; color-scheme: dark;}
.search #searchbox:focus {box-shadow: 0 0 0 2px black;}

.content {background-color: #102256; scrollbar-color: #1A9fff #183A65;}

.pillbox {background-color: #183A65;}

.pillbox h2, .pillbox h3, .pillbox h4 {color: #66C0F4;}
.pillbox sub {color: #969696;}

.newsitem:not(:last-child) {border-bottom-color: #102256;}

.thumb {border-color: #969696; background-image: url("/assets/rustmb/missing-dark.svg");}

.item:hover .thumb {border-color: #66C0F4;}
.item:hover .name {color: #66C0F4;}

.metabox {background-color: rgba(24, 58, 101, 0.9);}



.color-likes {color: #1BC07D; text-shadow: -1px -1px 0 #004B49, 1px 1px 0 #004B49, -1px 1px 0 #004B49, 1px -1px 0 #004B49;}
.color-dislikes {color: #CE383D; text-shadow: -1px -1px 0 #990036, 1px 1px 0 #990036, -1px 1px 0 #990036, 1px -1px 0 #990036;}
.color-dls {color: #388EF0; text-shadow: -1px -1px 0 #1C20D9, 1px 1px 0 #1C20D9, -1px 1px 0 #1C20D9, 1px -1px 0 #1C20D9;}
.color-favs {color: #FDB735; text-shadow: -1px -1px 0 #B65600, 1px 1px 0 #B65600, -1px 1px 0 #B65600, 1px -1px 0 #B65600;}

.metabox .meta-desc {background-color: rgba(16, 34, 86, 0.6);}

.saveform input {border-color: #969696;}



::-webkit-scrollbar {background-color: #1A9fff; }
::-webkit-scrollbar-button, ::-webkit-scrollbar-thumb {background-color: #183A65; border-color: #969696;}
::-webkit-scrollbar-button:hover, ::-webkit-scrollbar-thumb:hover {background-color: #102256;}
::-webkit-scrollbar-button:active, ::-webkit-scrollbar-thumb:active {border-color: #1A9fff;}
