<html>
	<head>
		<title>Cloudbox</title>
		<link rel="stylesheet" href="/assets/cloudbox.css" type="text/css">
		{{if not .GM13}}<script>var cloudbox = {}; cloudbox.GetPackage = function (type, id, rev) {window.location = "garrysmod://" + (type === "map" ? "install" : "spawn") + "/" + type + "/" + id + "/" + rev;}</script>{{end}}
	</head>
	<body>
		<div class="header">
			{{template "categorybar" .}}
			{{if not .HomePage}}
				{{template "searchbar" .}}
				{{template "pagenav" .}}
			{{end}}
		</div>
		<div class="header" style="padding-bottom: 2px">
			{{template "sortbar" .}}
			{{if and (.InGame) (eq .Category "savemap")}}
				{{template "savetools" .}}
			{{end}}
			</div>
		</div>
		<div class="topclouds" {{if .GM13}}style="visibility:hidden; opacity: 0;animation-play-state:paused; -webkit-animation-play-state: paused;"{{end}}></div>
		{{if .HomePage}}
			<div class="content" style="padding-top:0">
				{{if eq .PageType "home"}}
					{{template "home" .}}
				{{else if eq .PageType "news"}}
					{{template "news" .}}
				{{else if eq .PageType "info"}}
					{{template "info" .}}
				{{else if eq .PageType "error"}}
					<div class="pillbox">
						<h2>Page Not Found (404)</h2>
						<p>URL does not exist :(</p>
						<p>(Sad mascot would go here)</p>
					</div>
				{{end}}
			</div>
		{{else}}
			<div class="content" style="text-align:center;">
				{{range .Packages}}
					{{if and ($.InGame) (eq $.Category "savemap") (ne $.MapName .Dataname)}}
						{{continue}}
					{{end}}
					{{template "item" .}}
				{{end}}
			</div>
		{{end}}
	</body>
	<div class="bottomclouds"></div>
</html>
