<html>
	<head>
		<title>Cloudbox</title>
		<link rel="stylesheet" href="/assets/cloudbox.css" type="text/css">
		{{if not .GM13}}<script>var cloudbox = {}; cloudbox.GetPackage = function (type, id, rev) {window.location = "garrysmod://" + (type === "map" ? "install" : "spawn") + "/" + type + "/" + id + "/" + rev;}</script>{{end}}
	</head>
	<body>
		<div class="header">
			{{template "categorybar" .}}
			{{if not .HomePage}}
				{{template "searchbar" .}}
				{{template "pagenav" .}}
			{{end}}
		</div>
		<div class="header">
			{{template "sortbar" .}}
			{{if and (.InGame) (eq .Category "savemap")}}
				{{template "savetools" .}}
			{{end}}
			</div>
		</div>
		<div class="topclouds" {{if .GM13}}style="opacity: 0;"{{end}}></div>
		{{if .HomePage}}
			<div class="content" style="padding-top:0">
				{{template "home" .}}
			</div>
		{{else}}
			<div class="content" style="text-align:center;">
				{{range .Packages}}
					{{if and ($.InGame) (eq $.Category "savemap") (ne $.MapName .Dataname)}}
						{{continue}}
					{{end}}
					{{template "item" .}}
				{{end}}
			</div>
		{{end}}
	</body>
	<div class="bottomclouds"></div>
</html>
