<html>
	<head>
		<title>Cloudbox</title>
		<link rel="stylesheet" href="/assets/cloudbox.css" type="text/css">
		{{if .GM13}}<style>html, body {background: transparent !important;} .header + .header + .topclouds {opacity: 0;} .header + .header + .topclouds + .content {background-color: #B8E3FF;}</style>{{end}}
		{{if not .GM13}}<script>var cloudbox = {}; cloudbox.GetPackage = function (type, id, rev) {window.location = "garrysmod://" + (type === "map" ? "install" : "spawn") + "/" + type + "/" + id + "/" + rev;}</script>{{end}}
	</head>
	<body>
		<div class="header">
			{{template "categorybar" .}}
			{{template "searchbar" .}}
			{{template "pagenav" .}}
		</div>
		<div class="header">
			{{template "sortbar" .}}
			{{if and (.InGame) (eq .Category "savemap")}}
				{{template "savetools" .}}
			{{end}}
			</div>
		</div>
		<div class="topclouds"></div>
		<div class="content">
			{{range .Packages}}
				{{if and ($.InGame) (eq $.Category "savemap") (ne $.MapName .Dataname)}}
					{{continue}}
				{{end}}
				{{template "item" .}}
			{{end}}
		</div>
	</body>
	<div class="bottomclouds"></div>
</html>
