{{define "info"}}
<div class="pillbox">
	<h2>Contributing</h2>
	<h4>Can I contribute Toybox uploads?</h4>
	<p>Have any old installs of Garry's Mod lying around? If it's from 2010 to 2012, there's a good chance it has valuable cached Toybox creations we can use to revive more of Toybox. Add Pancakes on {{if and (.InGame) (not .GM13)}}Steam (/id/keroronpa){{end}}{{if .GM13}}<a class="textlink" onclick="cloudbox.OpenLink('pancakes')">Steam</a>{{end}}{{if not .InGame}}<a class="textlink" href="https://steamcommunity.com/id/keroronpa" target="_blank">Steam</a>{{end}} or Discord (@keroronpa), you can help us make our archive even better.</p>
	<h4>What about something else?</h4>
	<p>At the moment we're focused on recovering Toybox uploads. If you're playing on Garry's Mod 12, you can upload saves just like you could on Toybox.</p>
</div>
<div class="pillbox">
	<h2>Garry's Mod 13</h2>
	<h4>How to use</h4>
	<p>Subscribe to the {{if not .InGame}}<a class="textlink" href="https://steamcommunity.com/sharedfiles/filedetails/?id=3365311511" target="_blank">Cloudbox addon</a>{{else}}Cloudbox addon{{end}} on the Garry's Mod Workshop. {{if .GM13}}If you're seeing this in-game, you've already subscribed!{{end}}</p>
	<h4>Compatibility and Bugs</h4>
	<p>Almost all of the content on Cloudbox is from 2010-2012, scripts may not fully work because of updates. We're actively developing a compatibility layer and releasing improvements often. See the <a class="textlink" href="/news">News</a> page for updates.</p>
	<h4>Commands</h4>
	<p>You can easily tweak Cloudbox's behavior using {{if .GM13}}<a id="inline-options" class="textlink" onclick="cloudbox.OpenSettings()"><span></span>Options</a> (user/server){{else}}in-game Options{{end}}, or console commands.<br/>
		<code>cloudbox_userchangelevel</code> - Allow non-admins to changelevel to Cloudbox maps<br/>
		<code>cloudbox_adminonly</code> - Only allow admins to download from Cloudbox<br/>
		<code>cloudbox_showjoinmessage</code> - Show Cloudbox chat message on join<br/>
		<code>cloudbox_getpackage</code> - Download a package from Cloudbox by ID and (optionally) revision<br/>
		<code>cloudbox_purgecache</code> - Purge the Cloudbox downloads cache
	</p>
</div>
<div class="pillbox">
	<h2>Garry's Mod 12</h2>
	<h4>How to use</h4>
	<p>If you still have a copy of Garry's Mod 12, you can use Cloudbox in-place of the discontinued Toybox. You'll need to edit your HOSTS file (<code>C:\Windows\System32\Drivers\etc\hosts</code>) as admin and add these lines to the end of it:<br/>
		<code>51.81.34.116 api.garrysmod.com<br/>
		51.81.34.116 stats.garrysmod.com<br/>
		51.81.34.116 toybox.garrysmod.com<br/>
		51.81.34.116 toyboxapi.garrysmod.com</code>
	</p>
</div>
{{end}}