{{define "pagenav"}}
<div class="navbar">
	{{if eq .Sort "random"}}
		<a href="" id="reroll"><div class="navicon"></div><br><span translate="dice.reroll">Reroll</span></a>
	{{else}}
		<a href="{{.PrevLink}}{{if ne .Sort ""}}&sort={{.Sort}}{{end}}" id="prev"{{if eq .PrevLink "#"}} class="disabled"{{end}}><div class="navicon"></div><br><span translate="paginate.previous">Previous</span></a>
		<a href="{{.NextLink}}{{if ne .Sort ""}}&sort={{.Sort}}{{end}}" id="next"{{if eq .NextLink "#"}} class="disabled"{{end}}><div class="navicon"></div><br><span translate="paginate.next">Next</span></a>
	{{end}}
</div>
{{end}}
